.main
  .article
    h2.title= article.title
    .info
      p.by by 
        a(href="#")= article.author
      p.in in #{article.date}
    p.brief= article.brief
    
    img(src="images/"+article.thumb alt=article.title).thumb
    
    .content !{article.content}
    
    p.tags Tags: #{article.tags}
    
  .comments
    h2 Some comments
    .comment
      .avatar
        img(src="images/guy1.jpg")
      .content
        a(href="#") Ali
        span.date 30, June, 2021
        p This is the comment content written by guy one.
      .clearfix
    .comment
      .avatar
        img(src="images/achraf.jpg")
      .content
        a(href="#") Achraf
        span.date 09, July, 2021
        p Random comment here written by Achraf
      .clearfix
    .comment
      .avatar
        img(src="images/gondol.jpg")
      .content
        a(href="#") Guy Three
        span.date 19, July, 2021
        p This is the comment content.
      .clearfix
    